body {
    font-family: Helvetica;
    background-color: lightgray;
}

.grd-cntnr {
    display: flex;

    background-color: lightgray;
}

.grd-itm {
    display: flex;
    margin: 1rem;
    border-radius: 0.5rem;
    text-align: center;

    background-color: white;
    box-shadow: 0 0 0.5rem 0.5rem gray;
}

.grd-itm1 {
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-itm {
    font-size: 1.5rem;
    font-weight: 600;
}

#nav-lst {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar > #title {
    font-size: 1.75rem;
}

#nav-lst > a, a:hover, a:visited {
    color: black;
    text-decoration: none;

    padding: 0 1rem;
}

#nav-lst > a:hover {
    text-decoration: underline;
}
